:root{
    --theme-color:#fff;
    --primary-color:#124f88;
    --secondary-color:#f7c331;
    --text-color-inverse:#fff;
    --text-color:#000;

    --menu-mobile-background-color:#3a4460;

    --accent-color:var(--primary-color);
    --primary-color-inverse:#000;

    --navbar-shadow:0 4px 5px #e5e5e5;
    --tag-shadow:0 4px 10px rgba(0,0,0,0.25);

    --transition:0.2s ease-in-out;
    
}

/* @media (prefers-color-scheme: dark){ */
    :root[data-theme="dark"]{
        --theme-color:#0f172a;
        --primary-color:#243043;
        --secondary-color:#91faf1;
        --text-color:rgba(255,255,255,.9);
        --text-color-inverse:var(--text-color);
        /* --navbar-shallow-color:#e5e5e5; */
        --menu-mobile-background-color:#18213e;
        
        --accent-color:var(--secondary-color);
        --navbar-shadow:0 1px rgba(51,65,85,.8);
        --tag-shadow:0 0 0 1px #fff;

        color-scheme:dark;
    }
/* } */

form{
    color-scheme: light;
}


*{
    transition: background-color var(--transition), box-shadow var(--transition)
}

svg{
    transition: color var(--transition);
}


body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--theme-color);
    color:var(--text-color);
    padding-top: 70px;
}

html{
    /* el scroll en la barra nav no es de golpe */
    scroll-behavior: smooth;
}

/* todos los section con id */
section[id]{
    /* cuando le des en la barra y te mande a esa parte de la pagina, la barra fixed tapa parte del contenido, esto lo arregla */
    scroll-margin-top: 70px;
}

a{
    text-decoration: none;
    color:var(--text-color);
}

.vertical-padding{
    padding-left: 25px;
    padding-right: 25px;
}

.horizontal-padding{
    padding-top: 25px;
    padding-bottom: 25px;
}

@media(min-width:950px){
    .vertical-padding{
        padding-left: 70px;
        padding-right: 70px;
    }
    
    .horizontal-padding{
        padding-top: 70px;
        padding-bottom: 70px;
    }
}





.anotaciones-container{
    padding: 70px;
}

.anotaciones-btn{
    border: none;
    background-color: var(--text-color);
    color: var(--text-color-inverse);
    border-radius: 7px;
    cursor: pointer;


}

.anotaciones-btn:hover{
    box-shadow: 0 0 14px var(--secondary-color);
}

.anotaciones{
    display: none;
    position:absolute;
    /* top: 0; */
    left:0;

    /* transition: display .3s; */
    padding: 25px 70px;
}

.anotaciones-active{
    display: block;
    /* top:100%; */
}